#!{{ lookPath "bash" }}

set -euo pipefail

{{ if eq .chezmoi.os "darwin" -}}
readonly FISH_PATH="/opt/homebrew/bin/fish"

if ! grep -Fxq "${FISH_PATH}" /etc/shells; then
  echo "${FISH_PATH}" | sudo tee -a /etc/shells >/dev/null
fi

sudo chsh -s "${FISH_PATH}" "{{ .chezmoi.username }}"
{{ end -}}
