#!{{ lookPath "bash" }}

set -euo pipefail

{{ if eq .chezmoi.os "darwin" -}}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
/opt/homebrew/bin/brew analytics off
{{ end -}}
