#!/bin/bash

set -euo pipefail

readonly FISH_PATH="/opt/homebrew/bin/fish"

if ! grep -Fxq "${FISH_PATH}" /etc/shells; then
  echo "${FISH_PATH}" | sudo tee -a /etc/shells
fi

sudo chsh -s "${FISH_PATH}" "{{ .chezmoi.username }}"
