{{ if eq .chezmoi.os "darwin" }}
/opt/homebrew/bin/brew shellenv fish | source
{{ end }}

fish_config theme choose catppuccin-mocha

function fish_greeting
end

function fish_prompt
    string join '' -- (set_color --bold) (prompt_pwd) (set_color black) ' ➜ ' (set_color --reset)
end

alias c clear
alias l ll
alias ll 'eza --long --icons=auto --all --group-directories-first --header --git --octal-permissions --no-time'
alias ls 'eza --icons=auto'
